@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
@import url(style/header.css);
@import url(style/home.css);
@import url(style/explore.css);
@import url(style/reading.css);
@import url(style/complete.css);
@import url(style/form-book.css);
@import url(style/detail.css);
@import url(style/footer.css);

:root {
  --primary: #03045e;
  --scondary: #0004df;
  --light-blue: #00b4d8;
  --light: #90e0ef;
  --light-scondary: #caf0f8;
  --lighten: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--light-scondary);
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  box-sizing: border-box;
}

.show {
  display: block;
}

.null-data {
  text-align: center;
  width: 95%;
  margin: 1.5em auto;
  box-sizing: border-box;
}

.null-data img {
  width: 100%;
}

.null-data p {
  color: var(--scondary);
  font-size: 1.5em;
}

@media screen and (min-width: 1024px) {
  main {
    padding-top: 120px;
  }
}

@media screen and (min-width: 1201px) {
  body {
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
  }
} ;
