.form-book {
  margin-top: 1em;
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
  display: none;
}

.icon-book {
  text-align: center;
  font-size: 4em;
  color: var(--scondary);
}

.icon-book > p {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.form-book form {
  padding: 2em 1em;
  background-color: var(--lighten);
  border-radius: 10px;
  border: 1px solid var(--scondary);
  display: block;
  width: 100%;
  margin: 1em auto;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-book form div {
  margin-top: 1.5em;
}

.form-book form label,
.form-book form input,
.form-book form select {
  display: block;
}

.form-book input,
.form-book select {
  margin-bottom: 1em;
  width: 100%;
}

.form-book select {
  height: 45px;
  border-radius: 5px;
  font-size: 1em;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid var(--scondary);
}

.form-book form button {
  display: inline-block;
  width: 40%;
  margin-right: 5px;
}

.form-book form button[type="submit"] {
  border: 1px solid #06a100;
  background: linear-gradient(
    0deg,
    rgba(6, 161, 0, 1) 0%,
    rgba(7, 204, 0, 1) 50%,
    rgba(8, 242, 0, 1) 100%
  );
}
.form-book form button[type="reset"] {
  border: 1px solid #616161;
  background: linear-gradient(
    0deg,
    rgba(97, 97, 97, 1) 0%,
    rgba(142, 142, 142, 1) 50%,
    rgba(168, 168, 168, 1) 100%
  );
}

.form-book form button[type="submit"]:hover {
  box-shadow: none;
  cursor: pointer;
  background: linear-gradient(
    0deg,
    rgba(4, 105, 0, 1) 0%,
    rgba(6, 161, 0, 1) 50%,
    rgba(7, 198, 0, 1) 100%
  );
}

.form-book form button[type="reset"]:hover {
  box-shadow: none;
  cursor: pointer;
  background: linear-gradient(
    0deg,
    rgba(54, 53, 53, 1) 0%,
    rgba(98, 98, 98, 1) 50%,
    rgba(149, 149, 149, 1) 100%
  );
}

@media screen and (min-width: 768px) {
  .form-book form button {
    padding: 0.5em;
    font-size: 1.2em;
    box-sizing: content-box;
  }

  .form-book form div {
    text-align: center;
  }

  .form-book form {
    font-size: 1.5em;
  }
}
