header {
  background-color: var(--scondary);
  color: var(--lighten);
  text-align: center;
  padding: 0.5em 0;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--lighten);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 0.5em 0;
}

nav ul li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: var(--scondary);
  max-width: 50px;
  margin-top: 0.5em;
}

nav ul li a.active {
  color: var(--primary);
  font-weight: bold;
}

nav ul li a span {
  font-size: 12px;
}

@media screen and (min-width: 1024px) {
  header {
    padding: 0;
    padding-top: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  nav {
    position: static;
  }

  nav ul {
    padding: 0.5em 0;
    margin-top: 1em;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5em 0;
    box-sizing: border-box;
  }

  nav ul li a {
    justify-content: end;
    align-items: center;
  }

  nav ul li a span {
    font-size: 1em;
  }

  nav ul li a i {
    font-size: 1.2em;
  }
}
